In [ ]:
# Mount Google Drive to access dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import nltk

In [ ]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from gensim.models import Word2Vec
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.stem import PorterStemmer

In [ ]:
# Load the dataset into a DataFrame
df = pd.read_csv('/content/drive/MyDrive/bick/womens_clothing_reviews.csv')

In [ ]:
# Preprocess the text data
stemmer = PorterStemmer()
df['Review Text'] = df['Review Text'].astype(str).apply(lambda x: x.lower()) # convert to lowercase
df['Review Text'] = df['Review Text'].astype(str).apply(word_tokenize) # tokenize
df['Review Text'] = df['Review Text'].astype(str).apply(lambda x: [stemmer.stem(y) for y in x]) # stem

In [ ]:
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,"[[, ', a, b, s, o, l, u, t, e, l, y, ', ,, , ...",4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,"[[, ', l, o, v, e, ', ,, , ', t, h, i, s, ', ...",5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,"[[, ', i, ', ,, , ', h, a, d, ', ,, , ', s, ...",3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"[[, ', i, ', ,, , ', l, o, v, e, ', ,, , ', ...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,"[[, ', t, h, i, s, ', ,, , ', s, h, i, r, t, ...",5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,"[[, ', i, ', ,, , ', w, a, s, ', ,, , ', v, ...",5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"[[, ', i, t, ', ,, , ', r, e, m, i, n, d, s, ...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","[[, ', t, h, i, s, ', ,, , ', f, i, t, ', ,, ...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...","[[, ', i, ', ,, , ', b, o, u, g, h, t, ', ,, ...",3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,"[[, ', t, h, i, s, ', ,, , ', d, r, e, s, s, ...",5,1,22,General Petite,Dresses,Dresses

In [ ]:
df['Review Text']

0        [[, ', a, b, s, o, l, u, t, e, l, y, ', ,,  , ...
1        [[, ', l, o, v, e, ', ,,  , ', t, h, i, s, ', ...
2        [[, ', i, ', ,,  , ', h, a, d, ', ,,  , ', s, ...
3        [[, ', i, ', ,,  , ', l, o, v, e, ', ,,  , ', ...
4        [[, ', t, h, i, s, ', ,,  , ', s, h, i, r, t, ...
                               ...
23481    [[, ', i, ', ,,  , ', w, a, s, ', ,,  , ', v, ...
23482    [[, ', i, t, ', ,,  , ', r, e, m, i, n, d, s, ...
23483    [[, ', t, h, i, s, ', ,,  , ', f, i, t, ', ,, ...
23484    [[, ', i, ', ,,  , ', b, o, u, g, h, t, ', ,, ...
23485    [[, ', t, h, i, s, ', ,,  , ', d, r, e, s, s, ...
Name: Review Text, Length: 23486, dtype: object

In [ ]:
# Train the Word2Vec model
model = Word2Vec(df['Review Text'], min_count=1)

In [ ]:
# Find the 5 most similar sentences to a random word
random_word = 'dress' # change this to any random word
similar_sentences = []
for sentence in df['Review Text']:
    if random_word in sentence:
        similarity = model.wv.n_similarity([random_word], sentence)
        similar_sentences.append((sentence, similarity))
similar_sentences = sorted(similar_sentences, key=lambda x: x[1], reverse=True)[:5]
for sentence in similar_sentences:
    print(' '.join(sentence[0]), '-', sentence[1])

In [ ]:
similar_sentences

[]